li{
    background: lightgray;
    margin: 5px;
}
.odd-li{
    background: lavender;
    margin: 5px;
}
.last-li{
    background: pink;
    margin: 5px;
}
/* Styl dla przycisku 'Done' */
.done {
    background-color: #4CAF50; /* Zielony */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s ease;
  }
  .done:hover {
    background-color: #45a049; /* Ciemniejszy zielony */
  }
  /* Styl dla przycisku 'Remove' */
  .remove {
    background-color: #f44336; /* Czerwony */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s ease;
  }
  .remove:hover {
    background-color: #d32f2f; /* Ciemniejszy czerwony */
  }